<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map Chat</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/strophe.js"></script>
    <script type="text/javascript" src="/static/strophe.muc.js"></script>
    <script type="text/javascript" src="/static/strophe.vcard.js"></script>
    <script type="text/javascript" src="/static/strophe.pubsub.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <link rel="stylesheet" href="/static/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/leaflet.ie.css" />
        <![endif]-->

    <script src="/static/leaflet.js"></script>
    <script src="/static/wax.leaf.min.js"></script>
    
    <script type="text/javascript" src="/static/client.js"></script>    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div id="map-container">
      <div id="map"></div>
    </div>
    <div class="container-fluid">
      <div id="topnav">
        <ul class="nav nav-tabs" id="tabs">
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
              <span>View</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="tab" id="modeview">Mode: View</a></li>
              <li><a href="#" data-toggle="tab" id="modepoint">Edit - Point</a></li>
              <li><a href="#" data-toggle="tab" id="modepolyline">Edit - Line</a></li>
            </ul>
          </li>
        </ul>
        <div id="aboutnav"><a data-toggle="modal" href="#about">About</a></div>
      </div>

      <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#" id="mapname">
            </a>
            <form class="navbar-search pull-left" id="locsearch">
             <input type="text" class="search-query" placeholder="Search">
            </form>
            <ul class="nav">
              <!--<li><a href="#" id="findme">Find Me</a></li>-->
            </ul>
          </div>
        </div>
      </div>    
    </div>
    <div id="log"></div>

    <div id="chatmessage">
      <textarea id="message"></textarea>
      <input type="button" value="Send" id="sendmessage" />      
    </div>
    

    <div id="chatcontent">
    </div>

    <div id="status"></div>

    <div class="modal fade" id="about">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>About Mapchat</h3>
      </div>
      <div class="modal-body">
        <p>You are currently demoing the latest version of mapchat. If you are looking for the earlier version,
          from the book Getting Started with GEO, CouchDB and Node.js you can find it at
          <a target="_blank" href="http://v1.mapchat.im">v1.mapchat.im</a> and the source for it on
          <a target="_blank" href="https://github.com/dthompson/mapchat_v1">github</a>.
        </p>
        <p>The new version of map chat, supports multiple rooms, editing geometries, and of course chat. It is built with
          <a target="_blank" href="http://xmpp.org">XMPP</a>, <a href="http://nodejs.org" target="_blank">Node.js</a>, and
          <a href="http://strophe.im/" target="_blank">strophe.js</a>. The source for the new version is on
          <a target="_blank" href="http://github.com/dthompson/mapchat">github</a>. </p>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </body>
</html>
